/* =============================================================================
  JCHECK
========================================================================== */
#jcheck-error-dialog {
  background: #0074cc;
  border: 1px solid #003580;
  border-top: 0;
  width: 500px;
  position: fixed;
  top: 0;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 0 6px #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  z-index: 9999;
}
#jcheck-error-dialog ul {
  margin: 10px;
  list-style: none;
  padding: 0;
}
#jcheck-error-dialog li {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
}
#jcheck-error-dialog.ie-fixed {
  position: absolute;
}
.jcheck-inline-balloon-tip {
  margin-left: -30px;
  margin-top: 3px;
  z-index: 9999;
}
.jcheck-inline-balloon-tip .content {
  background: #0074cc;
  border: 1px solid #003580;
  padding: 2px 5px;
  border-radius: 8px;
  box-shadow: 0 0 6px #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
}
.jcheck-inline-balloon-tip ul {
  margin: 3px;
  list-style: none;
  padding: 0;
}
.jcheck-inline-balloon-tip li {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
}
.jcheck-inline-balloon-tip .arrow-container {
  margin-top: -2px;
  width: 19px;
  margin-left: 20px;
}
.jcheck-inline-balloon-tip .arrow-container div {
  background: #0074cc;
  border: 1px solid #003580;
  border-width: 0 1px;
  box-shadow: 0 2px 3px #000;
  -moz-box-shadow: 0 2px 3px #000;
  -webkit-box-shadow: 0 2px 3px #000;
}
.jcheck-inline-balloon-tip .arrow-container div.line2 {
  background: #000;
  border: 0;
}
.jcheck-inline-balloon-tip .arrow-container div.line1 {
  background: #000;
  border: 0;
}
