/* ------------------------------------
  CSS Desenvolvido pela
  Pianolab | www.pianolab.com.br
    Author: Luiz Paulo Valença| luizpaulo165@gmail.com
    Author: Walmir Neto| wfsneto@gmail.com
  Ultima Atualização:
  Alterado Por:
    Favor usar a mesma semântica.
------------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,figure{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;text-decoration:none;}strong{font-weight:700;}:focus{outline:0;}body{font-family:Arial,Verdana,Tahoma,Helvetica,sans-serif;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:400;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}.alert{margin-bottom:0 !important;}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
