::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none;}
::-webkit-selection{background:#fe57a1;color:#fff;text-shadow:none;}
::-o-selection{background:#fe57a1;color:#fff;text-shadow:none;}
::-ms-selection{background:#fe57a1;color:#fff;text-shadow:none;}
::selection{background:#fe57a1;color:#fff;text-shadow:none;}
.noMarginTop{margin-top:0px!important;}
.noMarginRight{margin-right:0px!important;}
.noMarginBottom{margin-bottom:0px!important;}
.noMarginLeft{margin-left:0px!important;}
.noPaddingTop{padding-top:0px!important;}
.noPaddingRight{padding-right:0px!important;}
.noPaddingBottom{padding-bottom:0px!important;}
.noPaddingLeft{padding-left:0px!important;}
.noBg{background:none!important;}
.noBorderTop{border-top:0px!important;}
.noBorderRight{border-right:0px!important;}
.noBorderBottom{border-bottom:0px!important;}
.noBorderLeft{border-left:0px!important;}
body{background:#ffffff;}
#container{display:block;overflow:hidden;}
footer{display:block;}
